<mat-toolbar>
  <div class="socials">
    <a href="https://github.com/Berejnec" target="_blank">
      <fa-icon [icon]="faGithub" size="3x"></fa-icon>
    </a>
    <a href="https://www.facebook.com/berejnec.adrian" target="_blank">
      <fa-icon [icon]="faFacebook" size="3x"></fa-icon>
    </a>
    <a href="https://www.instagram.com/adrianberejnec/" target="_blank">
      <fa-icon [icon]="faInstragam" size="3x"></fa-icon>
    </a>
  </div>
</mat-toolbar>
<span id="footer-name">&copy; Berejnec 2022</span>
