<mat-toolbar color="primary">
    <span id="title" class="text-left">Currency Converter Website</span>

    <div class="buttons text-right">
      <button class="nav-button" mat-raised-button color="primary" [routerLink]="['/converter']">Converter Page</button>
      <button class="nav-button" mat-raised-button color="primary" [routerLink]="['/crypto-converter']">Crypto Converter Page</button>
      <button class="nav-button" mat-raised-button color="primary" [routerLink]="['/crypto-images']">Images Page</button>
    </div>
</mat-toolbar>
