mat-toolbar-row {
  min-height: 30px !important;
  height: 43px !important;
}

.nav-button {
  /*background-color: #6d7fe3;*/
  border: 1px solid mediumpurple;
}
#title {
  font-size: 50px;
  font-family: Garamond, serif;
  color: whitesmoke;
}

.buttons {
  width: 450px;
  display: flex;
  justify-content: space-between;
}
