<button class="button-navigate" mat-flat-button color="primary" [routerLink]="['/crypto-images']">Images Page</button>
<form class="form" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
  <div class="container">
    <div class="input-ron">
      <label for="ronInput">Enter the amount of <strong>RON</strong> you want to convert to <strong>USD / EURO / GBP</strong></label>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>RON:</mat-label>
        <input id="ronInput" matInput placeholder="Enter amount" [(ngModel)]="inputValue" name="ronInput" required>
      </mat-form-field>
      <button mat-raised-button color="primary">Convert</button>
    </div>
    <h2 *ngIf="myForm.submitted">The current equivalent currencies for {{ enteredValue }} RON are:</h2>
    <div class="container-currencies">
      <mat-card>{{ usdValue | currency:'USD' }}</mat-card>
      <mat-card>{{ eurValue  | currency:'EUR' }}</mat-card>
      <mat-card>{{ gbpValue | currency:'GBP' }}</mat-card>
    </div>
  </div>
</form>
