.form {
  width: 100%;
}
.full-width {
  width: 100%;
}
.container {
  max-width: 800px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*top: 350px;*/
  /*left: 190px;*/
  /*flex-basis: auto;*/
  /*background-color: white;*/
}
label {
  text-align: center;
  font-size: 25px;
}

mat-card {
  background-color: #a2a5c7;
  width: 250px;
  font-size: 20px;
  text-align: center;
}

.input-ron {
  width: 500px;
}

.container-currencies {
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-top: 50px;
}

button {
  width: 180px;
}

#ronInput {
  font-size: 25px;
}

.button-navigate {
  margin-top: 5px;
  margin-left: 5px;
}
