app-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

/*app-converter {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  margin-top: -200px;*/
/*  margin-left: -200px;*/
/*  width: 400px;*/
/*  height: auto;*/
/*}*/
