/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100vh;
  background-color: #cad0ff;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background: linear-gradient(45deg, #9300e7, #8f95ff, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
