<button mat-flat-button color="primary" class="button-navigate" [routerLink]="['/converter']">Converter Page</button>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <a href="https://bitcoin.org/en/" target="_blank">
        <img src="assets/images/BTClogo.png" class="img-responsive" alt="Bitcoin">
      </a>
      Bitcoin
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <a href="https://loopring.org/" target="_blank">
        <img src="assets/images/LRClogo.png" class="img-responsive" alt="Loopring">
      </a>
      Loopring
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <a href="https://ethereum.org/en/" target="_blank">
        <img src="assets/images/ETHlogo.png" class="img-responsive" alt="Ethereum">
      </a>
      Ethereum
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <a href="https://solana.com/" target="_blank">
        <img src="assets/images/SOLlogo.png" class="img-responsive" alt="Solana">
      </a>
      Solana
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <a href="https://decentraland.org/" target="_blank">
        <img src="assets/images/MANAlogo.png" class="img-responsive" alt="MANA">
      </a>
      Decentraland (MANA)
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <a href="https://app.gala.games/" target="_blank">
        <img src="assets/images/GALAlogo.png" class="img-responsive" alt="GALA">
      </a>
      GALA
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <a href="https://crypto.com/" target="_blank">
        <img src="assets/images/CROlogo.png" class="img-responsive" alt="CRO">
      </a>
      Crypto.com Coin
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <a href="https://cardano.org/" target="_blank">
        <img src="assets/images/ADAlogo.png" class="img-responsive" alt="ADA">
      </a>
      Cardano (ADA)
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <a href="https://polygon.technology/" target="_blank">
        <img src="assets/images/POLYGONlogo.png" class="img-responsive" alt="Polygon">
      </a>
      Polygon (MATIC)
    </div>
  </div>
</div>
