<button mat-flat-button color="primary" class="button-navigate" [routerLink]="['/converter']">Converter Page</button>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <img src="assets/images/—Pngtree—digital currency bitcoin_3876326.png" class="img-responsive" alt="Bitcoin">
      Bitcoin
    </div>
     <div class="col-lg-4 col-md-4 col-xs-4 thumb">
       <img src="assets/images/—Pngtree—digital currency bitcoin_3876326.png" class="img-responsive" alt="Bitcoin">
       Bitcoin
     </div>
     <div class="col-lg-4 col-md-4 col-xs-4 thumb">
       <img src="assets/images/—Pngtree—digital currency bitcoin_3876326.png" class="img-responsive" alt="Bitcoin">
       Bitcoin
     </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <img src="assets/images/—Pngtree—digital currency bitcoin_3876326.png" class="img-responsive" alt="Bitcoin">
      Bitcoin
     </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <img src="assets/images/—Pngtree—digital currency bitcoin_3876326.png" class="img-responsive" alt="Bitcoin">
      Bitcoin
     </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <img src="assets/images/—Pngtree—digital currency bitcoin_3876326.png" class="img-responsive" alt="Bitcoin">
      Bitcoin
     </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <img src="assets/images/—Pngtree—digital currency bitcoin_3876326.png" class="img-responsive" alt="Bitcoin">
      Bitcoin
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <img src="assets/images/—Pngtree—digital currency bitcoin_3876326.png" class="img-responsive" alt="Bitcoin">
      Bitcoin
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <img src="assets/images/—Pngtree—digital currency bitcoin_3876326.png" class="img-responsive" alt="Bitcoin">
      Bitcoin
    </div>
  </div>
</div>
